{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- For Resposive Device -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- For Window Tab Color -->
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#061948" />
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#061948" />
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#061948" />
    <title>Profive Infotech</title>
    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      sizes="56x56"
      href="{% static 'images/logo/logo0.png' %}"
    />
    <!-- Main style sheet -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <!-- responsive style sheet -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/responsive.css' %}"
    />

    <!-- Fix Internet Explorer ______________________________________-->
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script src="vendor/html5shiv.js"></script>
      <script src="vendor/respond.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="main-page-wrapper">
      <!-- ===================================================
				Loading Transition
			==================================================== -->
      <div id="loader-wrapper">
        <div id="loader"></div>
      </div>
      {% include 'navbar.html' %}
      {% block content %}
      {% endblock %}
      <footer class="theme-footer-one">
        <div class="top-footer">
          <div class="container">
            <div class="row">
              <div class="col-xl-3 col-lg-4 col-sm-6 about-widget">
                <!-- Use img tag to display your logo -->
                <img src="{% static 'images/logo/ProfiVe.png' %}" alt="Your Static Image" class="logo">
              </br><p>A team of technical expertise, who knows how to help you craft modern, 
                traditional, best suitable solutions in different verticals of business.</p>
                <!-- <div class="queries">

                  <i class="flaticon-phone-call"></i> Any Queries :
                  <a href="#">+91 90350 81642</a>
                </div> -->
              </div>
              <!-- /.about-widget -->
              <div class="col-xl-4 col-lg-3 col-sm-6 footer-recent-post">
                <h6 class="title">RECENT POSTS</h6>
                <ul>
                  <li class="clearfix">
                    <img
                      src="{% static 'images/blog/1.jpg' %}"
                      alt=""
                      class="float-left"
                    />
                    <div class="post float-left">
                      <a href="#"
                        >Till wanted by theam govern they survive as
                        soldiers.</a
                      >
                      <div class="date">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i> Feb
                        06, 2018
                      </div>
                    </div>
                  </li>
                  <li class="clearfix">
                    <img
                      src="{% static 'images/blog/2.jpg' %}"
                      alt=""
                      class="float-left"
                    />
                    <div class="post float-left">
                      <a href="#">World don't move to beat of just one drum.</a>
                      <div class="date">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i> Mar
                        20, 2018
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- /.footer-recent-post -->
               <div class="col-xl-2 col-lg-3 col-sm-6 footer-list">
                <h6 class="title">SERVICES</h6>
                <ul>
                  <li><a href="#">Catering Management System</a></li>
                  <li><a href="#">Club and Restaurants Management System</a></li>
                  <li><a href="#">IT Hardware and Infrastructure</a></li>
                  <li><a href="#">HRMS Payroll Automation</a></li>
                  <li><a href="#">Retail POS Billing</a></li>
                  <li><a href="#">e-Commerce Website</a></li>
                  
                </ul>
              </div> 
              <!-- /.footer-list -->
              <!-- <div class="col-xl-3 col-lg-2 col-sm-6 footer-newsletter">
                <h6 class="title">NEWSLETTER</h6>
                <form action="#">
                  <input type="text" placeholder="Name *" />
                  <input type="email" placeholder="Email *" />
                  <button class="theme-button-one">SUBSCRIBE</button>
                </form>
              </div> -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.top-footer -->
        <div class="bottom-footer">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-12">
                <p>&copy; Copyright 2024 <strong><a href="https://profiveinfotech.com/">Profive Infotech</a></strong>. All rights reserved</p>
              </div>
              <!-- <div class="col-md-6 col-12">
                <ul>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Solutions</a></li>
                  <li><a href="#">FAQ’s</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </div> -->
            </div>
          </div>
        </div>
        <!-- /.bottom-footer -->
      </footer>
      <!-- /.theme-footer -->
      <!-- Scroll Top Button -->
      <button class="scroll-top tran3s">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
      </button>

      <!-- Optional JavaScript _____________________________  -->

      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <!-- jQuery -->
      <script src="{% static 'vendor/jquery.2.2.3.min.js' %}"></script>
      <!-- Popper js -->
      <script src="{% static 'vendor/popper.js/popper.min.js' %}"></script>
      <!-- Bootstrap JS -->
      <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
      <!-- Camera Slider -->
      <script src="{% static 'vendor/Camera-master/scripts/jquery.mobile.customized.min.js' %}"></script>
      <script src="{% static 'vendor/Camera-master/scripts/jquery.easing.1.3.js' %}"></script>
      <script src="{% static 'vendor/Camera-master/scripts/camera.min.js' %}"></script>
      <!-- menu  -->
      <script src="{% static 'vendor/menu/src/js/jquery.slimmenu.js' %}"></script>
      <!-- WOW js -->
      <script src="{% static 'vendor/WOW-master/dist/wow.min.js' %}"></script>
      <!-- owl.carousel -->
      <script src="{% static 'vendor/owl-carousel/owl.carousel.min.js' %}"></script>
      <!-- js count to -->
      <script src="{% static 'vendor/jquery.appear.js' %}"></script>
      <script src="{% static 'vendor/jquery.countTo.js' %}"></script>
      <!-- Fancybox -->
      <script src="{% static 'vendor/fancybox/dist/jquery.fancybox.min.js' %}"></script>

      <!-- Theme js -->
      <script src="{% static 'js/theme.js' %}"></script>
    </div>
    <!-- /.main-page-wrapper -->
  </body>
</html>