{% extends 'base.html' %} {% load static %}
<!-- 
=============================================
  Theme Main Banner
============================================== 
-->
{% block content %}
<div id="theme-main-banner" class="banner-one">
  <div data-src="{% static 'images/home/slide-1.jpg' %}">
    <div class="camera_caption">
      <div class="container">
        <h1 class="wow fadeInUp animated" data-wow-delay="0.2s">
          Welcome to <br />Profive Infotech
        </h1>
        <p class="wow fadeInUp animated">
          We create winning business models through innovative product
          development practices.
        </p>

        <a
          href="#"
          class="theme-button-one wow fadeInUp animated"
          data-wow-delay="0.39s"
          >CONTACT US</a
        >
      </div>
      <!-- /.container -->
    </div>
    <!-- /.camera_caption -->
  </div>
  <div data-src="{% static 'images/home/slide-2.jpg' %}">
    <div class="camera_caption">
      <div class="container">
        <h1 class="wow fadeInUp animated" data-wow-delay="0.2s">
          Driven by<br />
          expertise & excellence
        </h1>
        <p class="wow fadeInUp animated">
          We are a team of professionals to build solutions for your business
        </p>

        <a
          href="#"
          class="theme-button-one wow fadeInUp animated"
          data-wow-delay="0.39s"
          >CONTACT US</a
        >
      </div>
      <!-- /.container -->
    </div>
    <!-- /.camera_caption -->
  </div>
  <div data-src="{% static 'images/home/slide-3.jpg' %}">
    <div class="camera_caption">
      <div class="container">
        <h1 class="wow fadeInUp animated" data-wow-delay="0.2s">
          Technology & Software
        </h1>
        <p class="wow fadeInUp animated">
          We create winning business models through innovative product<br />
          development practices. Committed to delivering the right value.
        </p>

        <a
          href="#"
          class="theme-button-one wow fadeInUp animated"
          data-wow-delay="0.39s"
          >CONTACT US</a
        >
      </div>
      <!-- /.container -->
    </div>
    <!-- /.camera_caption -->
  </div>
</div>
<!-- /#theme-main-banner -->

<!-- 
=============================================
  Top Feature
============================================== 
-->
<div class="top-feature section-spacing"></div>

<!-- 
=============================================
  About Company
============================================== 
-->
<div class="about-compnay section-spacing">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <img src="{% static 'images/home/home1.jpg' %}" alt="" />
      </div>
      <div class="col-lg-6 col-12">
        <div class="text">
          <div class="theme-title-one">
            <h2>About Our Company</h2>
            <p>
              A team of technical expertise, who knows how to help you craft
              modern, traditional, best suitable solutions in different
              verticals of business. We can guide you through decisions, which
              will meet your business requirements and ideas. Our expertise is
              into Web designing, Software Development, Business Integration
              Tools, Mobile Applications, IT Infra Management, Domain Hosting.
            </p>
          </div>
          <!-- /.theme-title-one -->
          <ul class="mission-goal clearfix">
            <li>
              <i class="icon flaticon-star"></i>
              <h4>Vision</h4>
            </li>
            <li>
              <i class="icon flaticon-medal"></i>
              <h4>Missions</h4>
            </li>
            <li>
              <i class="icon flaticon-target"></i>
              <h4>Goals</h4>
            </li>
          </ul>
          <!-- /.mission-goal -->
        </div>
        <!-- /.text -->
      </div>
      <!-- /.col- -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.about-compnay -->

<!-- 
=============================================
  Feature Banner
============================================== 
-->
<div class="feature-banner section-spacing">
  <div class="opacity">
    <div class="container">
      <h2>
        We provide high quality services &amp; innovative solutions for the
        realiable growth
      </h2>
      <!-- <a href="#" class="theme-button-one">GET A QUOTES</a> -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.opacity -->
</div>
<!-- /.feature-banner -->

<!-- 
=============================================
  Service Style One
============================================== 
-->
<div class="service-style-one section-spacing">
  <div class="container">
    <div class="theme-title-one">
      <h2>Our SERVICES</h2>
      <p>
        We are a prominent organization involved in rendering IT Services. Our
        services are cater to different sectors at cost-competitive prices as
        per the suitability and requirements of the clients.
      </p>
    </div>
    <!-- /.theme-title-one -->
    <div class="wrapper">
      <div class="row">
        <div class="col-xl-4 col-md-6 col-12">
          <div class="single-service">
            <div class="img-box">
              <img src="{% static 'images/home/3.jpg' %}" alt="" />
            </div>
            <div class="text">
              <h5>
                <a href="{% url 'services' %}">Software Development</a>
              </h5>
              <a href="{% url 'services' %}" class="read-more"
                >READ MORE <i class="fa fa-angle-right" aria-hidden="true"></i
              ></a>
            </div>
            <!-- /.text -->
          </div>
          <!-- /.single-service -->
        </div>
        <!-- /.col- -->
        <div class="col-xl-4 col-md-6 col-12">
          <div class="single-service">
            <div class="img-box">
              <img src="{% static 'images/home/4.jpg' %}" alt="" />
            </div>
            <div class="text">
              <h5>
                <a href="{% url 'it_infra_service' %}">IT Infra Management</a>
              </h5>
              <a href="{% url 'it_infra_service' %}" class="read-more"
                >READ MORE <i class="fa fa-angle-right" aria-hidden="true"></i
              ></a>
            </div>
            <!-- /.text -->
          </div>
          <!-- /.single-service -->
        </div>
        <!-- /.col- -->
        <div class="col-xl-4 col-md-6 col-12">
          <div class="single-service">
            <div class="img-box">
              <img src="{% static 'images/home/5.jpg' %}" alt="" />
            </div>
            <div class="text">
              <h5>
                <a href="{% url 'cloud_service' %}">Cloud Computing Services</a>
              </h5>
              <a href="{% url 'cloud_service' %}" class="read-more"
                >READ MORE <i class="fa fa-angle-right" aria-hidden="true"></i
              ></a>
            </div>
            <!-- /.text -->
          </div>
          <!-- /.single-service -->
        </div>
        <!-- /.col- -->
        <div class="col-xl-4 col-md-6 col-12">
          <!-- <div class="single-service">
            <div class="img-box">
              <img src="{% static 'images/home/6.jpg' %}" alt="" />
            </div>
            <div class="text">
              <h5>
                <a href="#">Travel and Aviation</a>
              </h5>
              <p>The tiny ship today stiller</p>
              <a href="#" class="read-more"
                >READ MORE
                <i class="fa fa-angle-right" aria-hidden="true"></i
              ></a>
            </div>
            
          </div> -->
          <!-- /.single-service -->
        </div>
        <!-- /.col- -->
        <div class="col-xl-4 col-md-6 col-12">
          <!-- <div class="single-service">
            <div class="img-box">
              <img src="{% static 'images/home/7.jpg' %}" alt="" />
            </div>
            <div class="text">
              <h5>
                <a href="#">Software Research</a>
              </h5>
              <p>The tiny ship today stiller</p>
              <a href="#" class="read-more"
                >READ MORE
                <i class="fa fa-angle-right" aria-hidden="true"></i
              ></a>
            </div>
            
          </div> -->
          <!-- /.single-service -->
        </div>
        <!-- /.col- -->
        <div class="col-xl-4 col-md-6 col-12">
          <!-- <div class="single-service">
            <div class="img-box">
              <img src="{% static 'images/home/8.jpg' %}" alt="" />
            </div>
            <div class="text">
              <h5>
                <a href="#">Quality Resourcing</a>
              </h5>
              <p>The tiny ship today stiller</p>
              <a href="#" class="read-more"
                >READ MORE
                <i class="fa fa-angle-right" aria-hidden="true"></i
              ></a>
            </div>
            
          </div> -->
          <!-- /.single-service -->
        </div>
        <!-- /.col- -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.wrapper -->
    <!-- <div class="contact-text">
      <h4>
        You can also send us an email and we’ll get in touch shortly, or
        Call us
      </h4>
      <h5>
        <a href="#">info@profiveinfotech.com</a> (or)
        <a href="#">+1 234 6780 900</a>
      </h5>
    </div> -->
  </div>
  <!-- /.container -->
</div>
<!-- /.service-style-one -->

<!--
=====================================================
  Testimonial Slider
=====================================================
-->
<div class="testimonial-section section-spacing">
  <div class="overlay">
    <div class="container">
      <div class="wrapper">
        <div class="bg">
          <div class="testimonial-slider">
            <div class="item">
              <p>
                “ A tale of a fateful trip that started from this tropic port
                aboard this tiny ship today still wanted by the government they
                survive as soldiers of fortune to a deluxe apartment in the sky
                moving on up to the east side a family. ”
              </p>
              <div class="name">
                <h6>Shawn Michael</h6>
                <span>Founder, Mnc Inc.</span>
              </div>
              <!-- /.name -->
            </div>
            <!-- /.item -->
            <div class="item">
              <p>
                “ A tale of a fateful trip that started from this tropic port
                aboard this tiny ship today still wanted by the government they
                survive as soldiers of fortune to a deluxe apartment in the sky
                moving on up to the east side a family. ”
              </p>
              <div class="name">
                <h6>Rashed Ka.</h6>
                <span>Founder, Mnc Inc.</span>
              </div>
              <!-- /.name -->
            </div>
            <!-- /.item -->
            <div class="item">
              <p>
                “ A tale of a fateful trip that started from this tropic port
                aboard this tiny ship today still wanted by the government they
                survive as soldiers of fortune to a deluxe apartment in the sky
                moving on up to the east side a family. ”
              </p>
              <div class="name">
                <h6>Mahfuz Riad</h6>
                <span>Founder, Mnc Inc.</span>
              </div>
              <!-- /.name -->
            </div>
            <!-- /.item -->
          </div>
          <!-- /.testimonial-slider -->
        </div>
        <!-- /.bg -->
      </div>
      <!-- /.wrapper -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.overlay -->
</div>
<!-- /.testimonial-section -->

<!--
=====================================================
  Our Team
=====================================================
-->
<div class="our-team section-spacing">
  <div class="container">
    <div class="theme-title-one">
      <h2>Our TEAM</h2>
      <p>
        At Profive Infotech, our primary asset is our team of talented,
        enthusiastic and committed individuals from different walks of life –
        software development, sales and marketing, education and training to the
        technical sciences.
      </p>
    </div>
    <!-- /.theme-title-one -->
    <div class="wrapper">
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-12">
          <!-- <div class="team-member">
            <div class="image-box">
              <img src="{% static 'images/team/1.jpg' %}" alt="" />
              <div class="overlay">
                <div class="hover-content">
                  <ul>
                    <li>
                      <a href="#"
                        ><i class="fa fa-facebook" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-twitter" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-pinterest" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                  <p>
                    The government they survive as soldiers of fortune.
                  </p>
                </div>
                
              </div>
            
            </div>
            
            <div class="text">
              <h6>Richards Mills</h6>
              <span>Sales Consultant</span>
            </div>
            
          </div> -->
          <!-- /.team-member -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="team-member">
            <div class="image-box">
              <img src="{% static 'images/team/Team-1.jpg' %}" alt="" />
              <div class="overlay">
                <div class="hover-content">
                  <ul>
                    <li>
                      <a href="#"
                        ><i class="fa fa-facebook" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-instagram" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
                <!-- /.hover-content -->
              </div>
              <!-- /.overlay -->
            </div>
            <!-- /.image-box -->
            <div class="text">
              <h6>Melvin D Palangara</h6>
              <span>Chief Executive Officer</span>
            </div>
            <!-- /.text -->
          </div>
          <!-- /.team-member -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="team-member">
            <div class="image-box">
              <img src="{% static 'images/team/Team-3.jpg' %}" alt="" />
              <div class="overlay">
                <div class="hover-content">
                  <ul>
                    <li>
                      <a href="#"
                        ><i class="fa fa-facebook" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-instagram" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li></li>
                  </ul>
                </div>
                <!-- /.hover-content -->
              </div>
              <!-- /.overlay -->
            </div>
            <!-- /.image-box -->
            <div class="text">
              <h6>Rajesh R</h6>
              <span>Director – Customer Success</span>
            </div>
            <!-- /.text -->
          </div>
          <!-- /.team-member -->
        </div>
        <!-- /.col- -->
        <div class="col-lg-3 col-sm-6 col-12">
          <!-- <div class="team-member">
            <div class="image-box">
              <img src="{% static 'images/team/4.jpg' %}" alt="" />
              <div class="overlay">
                <div class="hover-content">
                  <ul>
                    <li>
                      <a href="#"
                        ><i class="fa fa-facebook" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-twitter" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-pinterest" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                  <p>
                    The government they survive as soldiers of fortune.
                  </p>
                </div>
                
              </div>
              
            </div>
            
            <div class="text">
              <h6>David Warner</h6>
              <span>SEO Analyst</span>
            </div>
            
          </div> -->
          <!-- /.team-member -->
        </div>
        <!-- /.col- -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.wrapper -->
  </div>
  <!-- /.container -->
</div>
<!-- /.our-team -->

<!--
=====================================================
  Theme Counter
=====================================================
-->
<div class="theme-counter section-spacing">
  <div class="container">
    <div class="bg">
      <h6>Company Success</h6>
      <h2>Some fun facts about our consulting</h2>

      <div class="cunter-wrapper">
        <div class="row">
          <div class="col-md-3 col-6">
            <div class="single-counter-box">
              <div class="number">
                <span
                  class="timer"
                  data-from="0"
                  data-to="30"
                  data-speed="1200"
                  data-refresh-interval="5"
                  >0</span
                >+
              </div>
              <p>Years of Excellence</p>
            </div>
            <!-- /.single-counter-box -->
          </div>
          <!-- /.col- -->
          <div class="col-md-3 col-6">
            <div class="single-counter-box">
              <div class="number">
                <span
                  class="timer"
                  data-from="0"
                  data-to="100"
                  data-speed="1200"
                  data-refresh-interval="5"
                  >0</span
                >%
              </div>
              <p>Client Satisfaction</p>
            </div>
            <!-- /.single-counter-box -->
          </div>
          <!-- /.col- -->
          <div class="col-md-3 col-6">
            <div class="single-counter-box">
              <div class="number">
                <span
                  class="timer"
                  data-from="0"
                  data-to="53"
                  data-speed="1200"
                  data-refresh-interval="5"
                  >0</span
                >k
              </div>
              <p>Cases Completed</p>
            </div>
            <!-- /.single-counter-box -->
          </div>
          <!-- /.col- -->
          <div class="col-md-3 col-6">
            <div class="single-counter-box">
              <div class="number">
                <span
                  class="timer"
                  data-from="0"
                  data-to="24"
                  data-speed="1200"
                  data-refresh-interval="5"
                  >0</span
                >
              </div>
              <p>Consultants</p>
            </div>
            <!-- /.single-counter-box -->
          </div>
          <!-- /.col- -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.cunter-wrapper -->
      <a href="#" class="theme-button-one">VIEW CASE STUDIES</a>
    </div>
    <!-- /.bg -->
  </div>
  <!-- /.container -->
</div>
<!-- /.theme-counter -->

<!--
=====================================================
  Free Consultation
=====================================================
-->

<div class="consultation-form section-spacing">
  <div class="container">
    <div class="theme-title-one">
      <h2>FREE CONSULTATION</h2>
      <p>
        A tale of a fateful trip that started from this tropic port aboard this
        tiny ship today stillers
      </p>
    </div>
    <!-- /.theme-title-one -->
    <div class="clearfix main-content no-gutters row">
      <div class="col-xl-6 col-lg-5 col-12">
        <div class="img-box"></div>
      </div>
      <div class="col-xl-6 col-lg-7 col-12">
        <div class="form-wrapper">
          <form action="#" method="post" class="theme-form-one">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <input type="text" placeholder="Name *" />
              </div>
              <div class="col-md-6">
                <input type="text" placeholder="Phone *" />
              </div>
              <div class="col-md-6">
                <input type="email" placeholder="Email *" />
              </div>
              <div class="col-md-6">
                <select class="form-control" id="exampleSelect1">
                  <option>Service you’re looking for?</option>
                  <option>Business Services</option>
                  <option>Consumer Product</option>
                  <option>Financial Services</option>
                  <option>Software Research</option>
                </select>
              </div>
              <div class="col-md-12">
                <input type="text" placeholder="Message *" />
              </div>
              <div class="row">
                <div class="col-md-6">{{ form.captcha }}</div>
                <div class="col-md-6">
                  <div class="message-container">
                    {% if messages %} {% for message in messages %}
                    <div
                      class="alert alert-warning alert-dismissable fade show"
                      role="alert"
                    >
                      {{ message }}
                    </div>
                    {% endfor %} {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <!-- /.row -->

            <button class="theme-button-one" type="submit">GET A QUOTES</button>
          </form>
        </div>
        <!-- /.form-wrapper -->
      </div>
      <!-- /.col- -->
    </div>
    <!-- /.main-content -->
  </div>
  <!-- /.container -->
</div>
<!-- /.consultation-form -->

<!--
=====================================================
  Partner Slider
=====================================================
-->
<div class="partner-section bg-color">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-12">
        <h6>OUR <br />PARTNERS</h6>
      </div>
      <div class="col-md-9 col-sm-8 col-12">
        <div class="partner-slider">
          <div class="item">
            <img src="{% static 'images/logo/client-01.png' %}" alt="" />
          </div>
          <div class="item">
            <img src="{% static 'images/logo/client-02.png' %}" alt="" />
          </div>
          <div class="item">
            <img src="{% static 'images/logo/client-03.png' %}" alt="" />
          </div>
          <div class="item">
            <img src="{% static 'images/logo/client-04.png' %}" alt="" />
          </div>
          <div class="item">
            <img src="{% static 'images/logo/client-05.png' %}" alt="" />
          </div>
          <div class="item">
            <img src="{% static 'images/logo/client-06.png' %}" alt="" />
          </div>
          <div class="item">
            <img src="{% static 'images/logo/client-07.png' %}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.partner-section -->

<!--
=====================================================
  Footer
=====================================================
-->
{% endblock %}
